# Build results
[Bb]in/
[Oo]bj/
.vs/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Logs & Temp
*.log
crash_log.txt
*.tmp
tmp/
*.ps1

# Packaging
*.nupkg
*.snupkg
*.zip
publish/

# Local data
.codex-local/
settings.json
